

body{
	background-color: rgba(51, 193, 46, 1);
}

hr{
	color: purple;
	background-color: purple;
	width: 100%;
}

.product{
	border: 1px solid;
	border-color: purple;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.productlist{
	padding-left: 50px;
	border: 1px solid;
	border-color: purple;
	margin-bottom: 10px;
}

.product-desc{
	padding-left: 30px;
}


