

body{
	background-color: rgba(51, 193, 46, 1);
}

hr{
	color: purple;
	background-color: purple;
	width: 100%;
}


.product{
	padding-left: 50px;
	border: 1px solid;
	border-color: purple;
	width: 50%;
	margin-top: 20px;
}



