{% extends 'master.html' %}

{% block content %}
<!--CSS-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_product.css') }}">


<h3>add_product</h3>

<form method="POST", action="/add">
{{ form.hidden_tag() }}
{% for field in form %}
	{% if field.widget.input_type != "hidden" %}
		{{ field.label }}
		{{ field }}
	{% else %}
		{{ field }}
	{% endif %}
	<br>
{% endfor %}


<button id="button" type="submit" name="productbtn" value="add">Add</button>
</form>
<hr>
<form method="POST", action="/add">
	{{ form.hidden_tag() }}	
<button id="button2" type="submit" name="productbtn" value="test">Add Test Entries</button>
</form>

<hr>
<form method="POST", action="/add">
	{{ form.hidden_tag() }}	
<button id="button2" type="submit" name="productbtn" value="show">Add Test Entries</button>
</form>
{% endblock %}
