{% extends 'master.html' %}

{% block content %}

<h3>Choose a temporary username for this session: </h3>

<form method="POST">
	{{ form.hidden_tag() }}
	{% for field in form %}
	{{ field.label }}
	<br>
	{{ field }}
	<br>
	{% endfor %}
	
	<button id="button2" type="submit" name="loginbtn" value="login">Login</button>
	<button id="button2" type="submit" name="loginbtn" value="create">Create</button>
	<button id="button2" type="submit" name="loginbtn" value="show">Show</button>

	{% with messages = get_flashed_messages() %} 
		{% if messages %} 
			{% for message in messages %} 
				{{ message }} 
			{% endfor %} 
		{% endif %} 
	{% endwith %} 
</form>


{% endblock %}
