<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='products.css') }}">	
	{% block head %}{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h1>Header</h1>			
				</div>
    				<div class="col-md-2" style="text-align: right; margin-top: 10px;">
						{% if user != None %}
					  		<a href="/logout">Logout</a>
				  		{% else %}
					  		<a href="/login">Login</a>
				  		{% endif %}
					</div>
				</div>
			<div class="body">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>
