{% extends 'master.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='product.css') }}">

<h3>Products</h3>
<hr>
<div class="row">
	<div class="col">
		<form method="POST", action"/products">
			<div class="search-form">
				Search:
				{% for field in form %}
					{{ field }}
				{% endfor %}
				<button type="submit" name="searchbtn" value="search">Search</button>
			</div>
		</form>
	</div>
</div>

<hr>
<div class="row" style="margin-top: 20px;">
	<div class="col-xl-6">
		{% for product in products %}
		<div class="productlist">
			<p>	
				<h3>{{ product.0 }} : {{ product.1 }}</h3>
				<h5 class="product-desc">{{ product.2 }}</h5>
			</p>
		</div>
		{% endfor %}
	</div>
	<div class="col-xl-5">
		{% if product != "" %}
			<div class="product">
				<h2>Product: {{ product.1 }} </h2>
				<h5> ID: {{ product.0 }} </h5>
				<h4> Description: </h4><span style="padding-left: 30px;">{{ product.2 }}</span>			
			</div>
		{% else %}
					<!-- Todo maybe -->
		{% endif %}
	</div>
</div>





{% endblock %}
